<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="initial-scale=1, maximum-scale=1, column-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/angular-material.css">
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-aria.js"></script>
    <script src="/javascripts/angular-animate.js"></script>
    <script src="/javascripts/angular-material.js"></script>
    <!-- <script src="./server.js"></script> -->

    <style>
          

            
        </style>


</head>

<body ng-app="app">
    <div ng-controller="FileUploadCtrl" layout="column" ng-cloak class="md-inline-form">
    
    <!-- The top toolbar -->
    <md-toolbar>
      <div class="md-toolbar-tools">
       <md-button class="md-icon-button" aria-label="Radiation">
          <md-icon md-svg-icon="/images/Radiation.svg" ></md-icon>
        </md-button>
        <h2>
          <span>Welcome</span>
        </h2>
        <!-- <md-button ng-click="loaddialog($event)">load file</md-button>
        
        <md-button class="md-raised" ng-click="addclick()"> Add column</md-button>
        <span>批量生成</span><input type="text"  ng-model="number" ng-pattern="/[0-9]*/">
        <md-button class="md-raised" ng-click="addclick()" >Add {{number}} column</md-button>
        <md-button class="md-raised" ng-click="saveedit()"> Save edit</md-button>
 -->
      </div>
    </md-toolbar>
        
   <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">      
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="row">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </div>
    <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
    <div ng-show="files.length">
        <div ng-repeat="file in files.slice(0)">
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
            </span>)
        </div>
        <input type="button" ng-click="uploadFile()" value="Upload" />
        <div ng-show="progressVisible">
            <div class="percent">{{progress}}%</div>
            <div class="progress-bar">
                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
        </div>
    </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
     <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>

      

    </div>
  
</body>
<script src="/javascripts/indexcontroller.js"></script>

</html>