<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="initial-scale=1, maximum-scale=1, column-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/angular-material.css">
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-aria.js"></script>
    <script src="/javascripts/angular-animate.js"></script>
    <script src="/javascripts/angular-material.js"></script>
    <!-- <script src="./server.js"></script> -->

    <style>
            .my-drop-zone { border: dotted 3px lightgray; height: 50px; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }
            
        </style>


</head>

<body ng-app="YourApp">
    <div ng-controller="YourController" layout="column" ng-cloak class="md-inline-form">
    
    <!-- The top toolbar -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button  aria-label="Go Back" ng-click="loadfile()"> load file</md-buttom>
        <md-button class="md-raised" ng-click="addclick()"> Add column</md-button>
        <span>个数</span><input type="text"  ng-model="number" ng-pattern="/[0-9]*/">
        <md-button class="md-raised" ng-click="addclick()" >Add {{number}} column</md-button>
        <md-button class="md-raised" ng-click="saveedit()"> Save edit</md-button>
      </div>
    </md-toolbar>
        
        <md-content class="md-padding" style="">
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height>
                <md-tab ng-repeat="column in columnsarray" ng-disabled="column.disabled" label="{{column.name}}" >
                    <div class="demo-tab column{{$index%4}}" style="padding: 25px; text-align: center;">
                        <div>
                            <!-- tab detail content -->
                            <!-- column basic information -->
                            <md-content md-theme="docs-dark" layout-gt-sx="row" layout-padding>
                                <div>
                                    <md-input-container>
                                        <label>Column Name</label>
                                        <input ng-model="column.name">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Column size</label>
                                        <input ng-model="column.size" required ng-pattern="/^[0-9]/">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Column Description</label>
                                        <input ng-model="column.description">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Column indexable</label>
                                        <md-select ng-model="column.indexable">
                                            <md-option ng-repeat="item in indexable" value="{{item}}">
                                                {{item}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Column Type</label>
                                        <md-select ng-model="column.type">
                                            <md-option ng-repeat="type in types" value="{{type.columntype}}">
                                                {{type.columntype}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </md-content>
                            <!-- column 's property detail -->
                            <md-content layout-padding>
                                <div>
                                    <form name="columnForm">
                                        <div layout-gt-sm="row" ng-repeat="prop in column.propertys track by $index " ng-if="$index %4 == 0">
                                            <md-input-container class="md-block" flex-gt-sm ng-repeat="i in [$index,$index+1,$index+2,$index+3]" ng-if="column.propertys[i] != null">
                                                <label>{{column.propertys[i].key}}</label>
                                                <input ng-model="column.propertys[i].value">
                                            </md-input-container>
                                        </div>
                                    </form>
                                </div>
                            </md-content>
                        </div>
                        <br/>
                        <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove column</md-button>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
        <!--   <md-content md-theme="docs-dark" layout-gt-sx="row" layout-padding>
    <div>
      <md-input-container>
        <label>Column Name</label>
        <input ng-model="column.name">
      </md-input-container>      
      <md-input-container>
        <label>Column size</label>
        <input ng-model="column.size" required ng-pattern="/^[0-9]/">
      </md-input-container>      
      <md-input-container>
        <label>Column Description</label>
        <input ng-model="column.description" >
      </md-input-container>
      <md-input-container>
        <label>Column indexable</label>
        <md-select ng-model="column.indexable">
              <md-option ng-repeat="item in indexable" value="{{item}}">
                {{item}}
              </md-option>
            </md-select>        
      </md-input-container>
      <md-input-container>
        <label>Column Type</label>
         <md-select ng-model="column.type">
              <md-option ng-repeat="type in types" value="{{type.columntype}}">
                {{type.columntype}}
              </md-option>
            </md-select>
      </md-input-container>
     
    </div>
  </md-content>
  <md-content layout-padding>
    <div>
    <form name="columnForm">
    <div layout-gt-sm="row" ng-repeat="prop in column.propertys track by $index " ng-if="$index %4 == 0">
          <md-input-container class="md-block" flex-gt-sm ng-repeat="i in [$index,$index+1,$index+2,$index+3]" ng-if="column.propertys[i] != null">
            <label>{{column.propertys[i].key}}</label>
            <input ng-model="column.propertys[i].value">
          </md-input-container>          
        </div>
        <md-button class="add-tab md-primary md-raised" ng-click="addclick()"> Add column</md-button>
        </form>
    </div>
  </md-content> -->
      

    </div>
    <!-- <div ng-controller="AppCtrl" class="sample" layout="column" ng-cloak>
  <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
      <md-tab ng-repeat="tab in tabs"
              ng-disabled="tab.disabled"
              label="{{tab.title}}">
        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
          <div ng-bind="tab.content"></div>
          <br/>
          <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
  <form ng-submit="addTab(tTitle,tContent)" layout="column" class="md-padding" style="padding-top: 0;">
    <div layout="row" layout-sm="column">
      <div flex style="position: relative;">
        <h2 class="md-subhead" style="position: absolute; bottom: 0; left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">Add a new Tab:</h2>
      </div>
      <md-input-container>
        <label for="label">Label</label>
        <input type="text" id="label" ng-model="tTitle">
      </md-input-container>
      <md-input-container>
        <label for="content">Content</label>
        <input type="text" id="content" ng-model="tContent">
      </md-input-container>
      <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent" type="submit" style="margin-right: 0;">Add Tab</md-button>
    </div>
  </form>
</div> -->
</body>
<script src="/javascripts/controller.js"></script>

</html>