<md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
     <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Load File from config File</span>
            <span class="md-subhead">Just Drop it here</span>
            <div > 
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            Base drop zone
                        </div>
                       
           </div>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media">              
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      </div>
      <div flex-xs flex-gt-xs="50" layout="column">
      </div>
      </md-content>